<ion-header>
    <ion-navbar primary>
        <ion-title>Opportunité</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="opportunity-fill">
    <ion-list>
        <ion-card class="mainCard">
            <ion-card>
                <ion-card-header text-wrap>Capturer une offre {{target}}</ion-card-header>
                <ion-item no-lines text-wrap>
                    <p>1- Saisissez le téléphone <span *ngIf="target==='Employeur'">de l'</span><span
                            *ngIf="target==='Jobyer'">du </span>{{target}} :</p>
                </ion-item>

                <ion-item>
                    <ion-input type="phone" [(ngModel)]="opportunity.tel" maxlength="10"
                               placeholder="0XXXXXXXXX"></ion-input>
                </ion-item>

                <ion-item no-lines text-wrap>
                    <p>2- Cliquez sur
                        <ion-icon name="chatbubbles"></ion-icon>
                        pour recevoir le code d'accès via SMS
                    </p>
                    <button clear (click)="sendPassword()" item-right>
                        <ion-icon name="chatbubbles"></ion-icon>
                    </button>
                </ion-item>

                <ion-item *ngIf="target==='Employeur'" text-wrap no-lines>
                    <p>3- <span *ngIf="!isEmpInstalled">Cliquez sur <ion-icon name="download"></ion-icon> pour télécharger </span><span
                            *ngIf="isEmpInstalled">Ouvrez </span>l'application <span style="color: #14baa6">Vit-On-Job Employeur</span>
                        sur votre smart
                    </p>
                    <button clear item-right *ngIf="isEmpInstalled">
                        <ion-icon name="checkmark-circle"></ion-icon>
                    </button>
                    <button clear item-right *ngIf="!isEmpInstalled" (click)="openMarket()">
                        <ion-icon name="download"></ion-icon>
                    </button>
                </ion-item>
                <ion-item *ngIf="target==='Jobyer'" text-wrap no-lines>
                    <p>3- <span *ngIf="!isJobInstalled">Cliquez sur <ion-icon name="download"></ion-icon> pour télécharger </span><span
                            *ngIf="isJobInstalled">Ouvrez </span>l'application <span style="color: #14baa6">Vit-On-Job Jobyer</span>
                        sur votre smart
                    </p>
                    <button clear item-right *ngIf="isJobInstalled">
                        <ion-icon name="checkmark-circle"></ion-icon>
                    </button>
                    <button clear item-right *ngIf="!isJobInstalled">
                        <ion-icon name="download"></ion-icon>
                    </button>
                </ion-item>

                <ion-item class="labelInItem" text-wrap no-lines>
                    <h3>
                        <ion-icon name="ios-information-circle-outline"></ion-icon>
                        Informations :
                    </h3>
                    <p>
                        Vous allez recevoir un SMS suite à l'action 2, ci-dessus. Le login est le téléphone <span
                            *ngIf="target==='Employeur'">de l'</span><span *ngIf="target==='Jobyer'">du </span>{{target}}
                        et le mot de passe est le code que vous avez reçu par SMS.<br>
                    </p>
                </ion-item>
            </ion-card>
        </ion-card>
    </ion-list>
</ion-content>

